// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

// color
$white: #ffffff;
$light-grey: #EEF1F4;
$grey: #C3C4C3;
$dark-grey: #656565;
$black: #020202;
$pacific: #0DACCB;
$yellow: #FFFF00;
$green: #0FC841;
$red: #FF0000;
$space: #0A66C2;